dist: xenial

language: python

sudo: false

git:
  depth: 1
  quiet: true

cache: pip

python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10-dev"

install:
  - 'pip install tox-travis pyyaml python-coveralls'

script: tox

notifications:
    slack:
      rooms:
        - pivotalenergy:SvNSkVaLVlZeu82utL37wSvy#travis

after_success:
  - coveralls
