<h3>
    <a id="footer" name="footer" href="#footer">
        <code>footer</code>
    </a>
</h3>

<p>
    Setting <code>footer</code> to <code>True</code> will allow the default datatable rendering
    templates to show a simple <code>&lt;tfoot&gt;</code> in the table that shares the same labels
    that the header uses.
</p>
<p>
    On its own, this feature is available for added clarity when scrolling down a long table, but it
    can be used to set up more advanced features, such as adding column-specific search boxes for
    <a href="{% url "multi-filter" %}">per-column searching</a> (described by the official
    dataTables.js documentation
    <a href="http://datatables.net/examples/api/multi_filter.html">here</a>).
</p>
