<h3>
    <a id="ordering" name="ordering" href="#ordering">
        <code>ordering</code>
    </a>
</h3>
<h6>Columns from demo: <em>ID</em></h6>

<p>
    A list of field and/or column names describing how the table should be sorted by default. This
    overrides the model's own <code>Meta.ordering</code> setting, but will itself be overriden by
    the client if sorting operations are specified during AJAX requests.
</p>
<p>
    Like model ordering, field/column names can use a prefix <code>'-'</code> to indicate reverse
    ordering for that field.
</p>
