<h3>
    <a id="search_fields" name="search_fields" href="#search_fields">
        <code>search_fields</code>
    </a>
</h3>
<h6>
    Columns from demo:
    <em>
        blog__name (not shown, but search "first" or "second" to find entries being filtered by this
        setting)
    </em>
</h6>

<p>
    Additional database fields to query for global searches can be specified with this setting.
</p>
<p>
    Normally you would simply back each of your columns with the correct list of database fields,
    but if valid searchable fields don't actually appear in the columns, you can have these extra
    fields appended to the list of searchable items without lying about the fields in your column
    specification.
</p>
