<h3>
    <a id="unsortable_columns" name="unsortable_columns" href="#unsortable_columns">
        <code>unsortable_columns</code>
    </a>
</h3>
<h6>Columns from demo: <em>n comments</em></h6>

<p>
    A list of column names that should not be sortable by the client.  This is enforced on the
    server side configuration validation as well, since a deliberate AJAX request to sort a column
    you wanted the client to disable could have very bad performance implications if it was allowed
    to have a go at the data.
</p>
