{% extends "base.html" %}

{% block title %}
    Example index
{% endblock title %}

{% block header %}
    Example index
{% endblock header %}

{% block content %}
    <h2>django-datatable-view example project</h2>

    <p>
        Click on an example type in the sidebar to interact with a live table and read details on
        how it can be implemented.
    </p>

    {% if db_works %}
        <p class="alert alert-success">
            Your database tables appear sync'd!  Check out the example pages at your leisure.
        </p>
    {% else %}
        <p class="alert alert-danger">
            Make sure you've done a <code>syncdb</code> for the test project!  This view failed to
            read from one of the example model tables!
        </p>
        <p>
            This project's settings use a simple sqlite3 file to keep things tidy for you, so we
            recommend using this project in its own environment. Ideally, you could run the
            <code>manage.py</code> script from inside the root of the django-datatable-view project
            directory:
        </p>
<pre>$ cd django-datatable-view
$ datatableview{{ os_sep }}test{{ os_sep }}test_project{{ os_sep }}manage.py syncdb
$ datatableview{{ os_sep }}test{{ os_sep }}test_project{{ os_sep }}manage.py runserver
</pre>
    {% endif %}

    <p>
        The demos and example code found in this example project all rely on the automatic
        initialization provided by a simple jQuery <code>document.ready</code> event.
    </p>
{% endblock content %}
