{% extends "base.html" %}

{% block static %}
    {{ block.super }}
    <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXML.js" type="text/javascript"></script>
    <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js" type="text/javascript"></script>
{% endblock static %}

{% block content %}
    <h2>Automatic initialization</h2>
    
    <p>
        The easiest way to get going is to include the <code>datatableview.js</code> (or
        <code>datatableview.min.js</code>) file bundled with the app:
    </p>
    <pre class="brush: xml">
&lt;script type="text/javascript" charset="utf8" src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/datatableview.js"&gt;&lt;/script&gt;
    </pre>

    <p>
        This file introduces a global ``datatableview`` object that wraps the utilities and
        initialization function.  A jQuery <code>document.ready</code> handler is also provided,
        which by default will initialize any <code>.datatable</code> elements on the page. Tables
        rendered into a template using the tools provided by this app will automatically meet this
        criteria.
    </p>

    <p>
        To disable automatic initialization, you can include the script, and then set a property
        on the global object:
    </p>

    <pre class="brush: javascript">
datatableview.auto_initialize = false;
    </pre>

    <p>
        To easily initialize datatables in Javascript, you can select your elements and send them
        to <code>datatableview.initialize()</code>:
    </p>

    <pre class="brush: javascript">
$(function(){
    datatableview.initialize($('.mytable'));
    
    // Or, if there are common options that should be given to all select elements,
    // you can specify them now.  data-* API attributes will override these options.
    var common_options = {};
    datatableview.initialize($('.mytable'), common_options);
});
    </pre>

    <p>
        Global <code>dataTables.js</code> default options can be specified normally, but if the page
        requires specific options for its datatable(s) and you are using automatic initialization
        (i.e., you didn't have an opportunity to set special options in advance), you can specify a
        global function hook that will be given the <code>options</code> object that will be sent
        to the dataTable constructor. Including this hook somewhere in the global namespace will
        ensure that you have control over custom options:
    </p>
    
    <pre class="brush: javascript">
function confirm_global_datatable_options(options, datatable) {
    // "datatable" variable is the jQuery object, not the oTable, since it
    // hasn't been initialized yet.
    options.fnRowCallback = function(...){ ... };
    return options;
}
    </pre>

    <p>
        Note that this function hook is <em>not</em> required for the automatic initialization to
        work.
    </p>
{% endblock content %}
