{% extends "base.html" %}

{% block content %}
    <h2>Live demo</h2>
    {% block demo %}
        {{ datatable }}
    {% endblock demo %}

    {% if implementation %}
    <br /><br />
    <h2>Implementation</h2>
    {% block implementation %}
        <pre class="brush: python">
        {{ implementation|safe }}
        </pre>
    {% endblock implementation %}
    {% endif %}

    <br /><br />
    <h2>Description</h2>
    {% block description %}
        {{ description|safe|linebreaks }}
    {% endblock description %}

    <br /><br />
{% endblock content %}
