<h3>
    <a id="columns" name="columns" href="#columns">
        <code>columns</code>
    </a>
</h3>

<p>
    A list of model fields that you wish to import into the table as columns, separate from any
    columns that are declared on the Datatable itself.
</p>

<p class="alert alert-warning">
    For legacy reasons, the <code>Meta.columns</code> setting can still be specified in the
    full-blown format that existed before version 0.9, but when 1.0 is released, this behavior will
    be removed.
</p>
