<h3>
    <a id="page_length" name="page_length" href="#page_length">
        <code>page_length</code>
    </a>
</h3>

<p>
    The page length sets the client option for how many records are shown in a single page of the
    datatable, which in turn controls how many objects are requested at a time from the server over
    AJAX.
</p>
<p class="alert alert-info">
    Make sure your table is javascript-configured to allow the page size you choose, since
    <code>dataTables.js</code> will allow you to return to your default setting if the user changes
    the page size away to something else. The demo on this page added a smaller option than is
    normally available by default in order to use a page size of 5 in the demo.
</p>
