{% extends "example_base.html" %}

{% block static %}
    {{ block.super }}
    <!-- Initialization to demonstrate the custom page_size option -->
    <script type="text/javascript">
        $.extend($.fn.dataTable.defaults, {
            'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        });
    </script>
{% endblock static %}

{% block description %}
    {{ block.super }}

    <p>
        The full list of allowed <code>Meta</code> attributes follows, all of which are technically
        optional:
    </p>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item" href="#model">model</a>
                <a class="list-group-item" href="#columns">columns</a>
                <a class="list-group-item" href="#ordering">ordering</a>
                <a class="list-group-item" href="#page_length">page_length</a>
                <a class="list-group-item" href="#search_fields">search_fields</a>
                <a class="list-group-item" href="#unsortable_columns">unsortable_columns</a>
                <a class="list-group-item" href="#hidden_columns">hidden_columns</a>
                <a class="list-group-item" href="#footer">footer</a>
                <a class="list-group-item" href="#structure_template">structure_template</a>
            </div>
        </div>
    </div>

    <br /><br />{% include "meta/model.html" %}
    <br /><br />{% include "meta/columns.html" %}
    <br /><br />{% include "meta/ordering.html" %}
    <br /><br />{% include "meta/page_length.html" %}
    <br /><br />{% include "meta/search_fields.html" %}
    <br /><br />{% include "meta/unsortable_columns.html" %}
    <br /><br />{% include "meta/hidden_columns.html" %}
    <br /><br />{% include "meta/footer.html" %}
    <br /><br />{% include "meta/structure_template.html" %}
{% endblock description %}
