{% extends "example_base.html" %}

{% block static %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}syntaxhighlighter/shBrushXML.js" type="text/javascript"></script>

    <!-- Resources for "CSS support" demo -->
    <style type="text/css">
        .datatable th[data-name="publication-date"] {
            width: 8%;
        }
    </style>
{% endblock static %}

{% block description %}
    {{ block.super }}
    <pre class="brush: xml">
&lt;style type="text/css"&gt;
.datatable th[data-name="publication-date"] {
    width: 8%;
}
&lt;/style&gt;
    </pre>
{% endblock description %}
