<h3>
    <a id="itemgetter" name="itemgetter" href="#itemgetter">
        <code>itemgetter</code>
    </a>
</h3>
<h6>Columns from demo: <em>Body Text (as a slice)</em></h6>

<p>
    Shortcut for supplying an <code>operator.itemgetter</code>-type callback, but which accepts
    the additional arguments that <code>DatatableView</code> provides by default.
</p>
<p class="alert alert-warning">
    This helper's usefulness is supplanted by the <code>helpers.through_fitler</code> callback,
    which allows you to use <code>operator.itemgetter</code> directly.
</p>
<p>
    This helper must be called inline with the column definition, in order to provide the item to
    get from the column value.  It will returned a stand-in callback to defer the item-getting until
    the callback is needed.
</p>
<p>
    <code>helpers.itemgetter</code> can be used to fetch a specific item or slice from a value.  It
    includes the option to specify an <code>ellipsis</code> keyword argument, which, if provided
    along with a slice against a string, will be appended to a sliced string.
</p>
<pre class="brush: python">
import operator
datatable_options = {
    'columns': [
        # Standard use; must call the helper once to give it the item to access
        ("Body Text", 'body_text', helpers.itemgetter(slice(0, 30)),
        # Better perhaps to use the through_filter() helper
        ("Body Text", 'body_text', helpers.through_filter(operator.itemgetter(slice(0, 30)),

        # Append an ellipsis
        ("Body Text", 'body_text', helpers.itemgetter(slice(0, 30), ellipsis="..."),
        # Again, better perhaps to use the through_filter() helper with the truncatechars filter
        ("Body Text", 'body_text', helpers.through_filter(truncatechars(30)),
    ],
}
</pre>
<p>
    Using this helper in custom callbacks provides no tangible benefit over getting an item or slice
    from the target value yourself, but can still be done:
</p>
<pre class="brush: python">
def get_column_Body_Text_data(self, instance, *args, **kwargs):
    # Generate the real callback helper, then call it
    callback = helpers.itemgetter(slice(0, 30))
    return callback(kwargs['default_value'])
    
    # This is equivalent real Python code, and better for readability
    return kwargs['default_value'][:30]
</pre>
