# This is used for DatatableView

name: Djagno Datatable View Tests

on: push

jobs:
  cancel:
    name: Canceling Outstanding Jobs
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

  outdated:
    name: Outdated packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python setup.py install
          python -m pip install --upgrade pip
          pip install -r requirements.txt --user
          pip install -r requirements_dev.txt --user

      - name: outdated
        run: pip list --outdated --not-required --exclude=django --user | grep . && echo "There are outdated packages" && exit 1 || echo "All packages up to date"

  black:
    name: Black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python setup.py install
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_dev.txt

      - name: Black
        run: black --check .

  pre-commit:
    name: Pre-Commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python setup.py install
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_dev.txt
          pre-commit install

      - name: Pre-Commit
        run: pre-commit run --all-files --show-diff-on-failure

  security:
    name: Bandit Security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python setup.py install
          pip install bandit

      - name: Bandit
        run: bandit -r datatableview -x datatableview/tests -s B303,B308,B703 -f json -o report.json

      - name: Show report
        if: ${{ success() || failure() }}
        run: cat report.json

      - name: upload report
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: Bandit Security Report
          path: report.json


  tests:
    name: Python ${{ matrix.python-version }} / ${{ matrix.db }} / Django ${{ matrix.django-version}}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      max-parallel: 4
      matrix:
        db: [ sqlite, mysql ]
        django-version: [ "~=3.2", "~=4.0" ]
        python-version: [ "3.10" ]
        experimental: [ false ]

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Verify MySQL connection from host
        if: matrix.db == 'mysql'
        run: |
          mysql --host 127.0.0.1 --port 3306 -uroot -ppassword -e "SHOW DATABASES" 2>&1 > /dev/null

      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: |
            setup.py
            requirements*.txt

      - name: Install dependencies
        run: |
          python setup.py install
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_dev.txt
          pip uninstall -y Django
          pip install Django${{ matrix.django-version }}

      - name: Run Django Tests
        env:
          PYTHONWARNINGS: once::DeprecationWarning
          DB_TYPE: ${{ matrix.db }}
        run: |
          export PYTHONPATH=`pwd`
          coverage run demo_app/manage.py test --noinput --settings=demo_app.settings_test datatableview

      - name: "Upload Coverage Results for PY:${{ matrix.python-version }} DB:${{ matrix.db}} DJ:${{ matrix.django-version }}"
        uses: actions/upload-artifact@v2
        with:
          name: coverage-${{ matrix.python-version }}-${{ matrix.db}}-${{ matrix.django-version }}
          path: .coverage
          retention-days: 1

      - name: Django Check
        run: |
          python demo_app/manage.py check

  coverage:
    name: Upload Coverage to Codecov
    needs: [ tests ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -q coverage

      - uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          path: .

      - name: Combine Report Coverage
        run: |
          coverage combine coverage-*/.coverage
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          directory: .
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [ 'cancel', 'outdated', 'black', 'pre-commit', 'security', 'tests', 'coverage' ]
    outputs:
      bumped: ${{ steps.release.outputs.bumped }}
      bump_version: ${{ steps.release.outputs.bump_version }}
      bump_sha: ${{ steps.release.outputs.bump_sha }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          pip install git+https://${{ secrets.ORGANIZATIONAL_REPO_TOKEN }}@github.com/pivotal-energy-solutions/tensor-infrastructure@master#egg=infrastructure
      - name: Release
        id: release
        env:
          PYTHONWARNINGS: once::DeprecationWarning
          GITHUB_TOKEN: ${{ secrets.ORGANIZATIONAL_REPO_TOKEN }}
        run: |
          bumper.py --directory . --exclude=.idea,.github,demo_app --version_files datatableview/__init__.py --repo=pivotal-energy-solutions/django-datatable-view -v
